<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>

  <header>
    <h1>La gran tienda cambiada</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/tienda">Tienda</a>
      <a href="/producto">Producto</a>
      <a href="/sobre-nosotros">Sobre nosotros</a>
    </nav>
  </header>

  {{{ body }}}

  <footer>
    Footer con toda la info
  </footer>
  
</body>
</html>