<div class="product">
  <header class="product__header">
    <h2 class="product__title">{{ title }}</h2>
  </header>

  <section class="producto__section">
    <img src="{{ img }}" alt="">
    <p class="product__description">
      {{ description }}
    </p>
  </section>
</div>
