p {
  color: lightgray;
  font-size: 30px;
}

.mainheader{
  border: 2px solid red;
}

.mainfooter{
  border: 2px solid green;
}

.product{
  &__header{
    background-color: lightblue;
  }

  &__description{
    font-size: 20px;
  }

  &--with-options{
    background: lightcoral;
  }
}